---
import Default from '../layouts/Default.astro';
---

<Default>
	<main>
      <div style="text-align: center">
         <div style="margin-bottom: 32px">
				<h1 style="font-weight: 500; font-size: 20px">embed fixer for spotify.<br>just add a "fx" on your spotify's link and that's it lol</h1>
			</div>
         <div style="font-size: 12px" class="mt-8 text-xs">Copyright © 2024 <a href="https://github.com/dotconnexion/fxspotify">FxSpotify</a>. Not related or endorsed with <a href="https://spotify.com">Spotify AB</a>.</div>
      </div>
	</main>
</Default>
