<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FxSpotify</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap"
      rel="stylesheet"
    />
    <style>
      :root {
        --black: 17, 17, 17;
        --white: 217, 216, 182;
      }
      html {
        background-color: rgb(var(--black));
        color: rgb(var(--white));
      }
      body,
      main {
        font-family: Satoshi, system-ui, sans-serif;
      }
      .text-white,
      a {
        color: rgb(var(--white));
      }
      main {
        margin: auto;
        text-align: center;
      }
    </style>
  </head>
  <body style="display: flex; width: 100%; height: 100%; margin: 0; box-sizing: border-box; padding: 0 32px">
    <main>
      <div style="margin-bottom: 32px">
        <h1 style="font-weight: 500; font-size: 20px">
          embed fixer for spotify.<br />just add a "fx" on your spotify's link
          and that's it lol
        </h1>
      </div>
      <div style="font-size: 12px">
        Copyright © 2025
        <a href="{{ repo }}">FxSpotify</a>. Not
        related or endorsed with <a href="https://spotify.com">Spotify AB</a>.
      </div>
    </main>
  </body>
</html>
