---

---
<!DOCTYPE html>
	<html lang="en" style="width: 100%; height: 100%;">
   	<head>
         <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
         <link rel="dns-prefetch" href="//api.spotify.com">
         <link rel="preconnect" href="https://api.spotify.com" crossorigin>
         <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap" rel="stylesheet">
      </head>
      <body style="display: flex; width: 100%; height: 100%; margin: 0; font-family: sans-serif">
	      <slot />
      </body>
</html>

<style is:global>
	:root {
      --black: 17, 17, 17;
      --white: 217, 216, 182;
	}

	html {
      background-color: rgb(var(--black));
      color: rgb(var(--white))
	}

   main, body {
      font-family: Satoshi, system-ui, sans-serif;
   }

   .text-white, a {
		color: rgb(var(--white));
	}

	h1,h2,h3,h4,h5,h6,p,span {
      font-family: Satoshi, system-ui, sans-serif;
	}

   main {
      margin: auto
   }
</style>
